// For styles that aren’t defined as SCSS variables, you may want to modify specific CSS classes
// Additionally, you may want to add completely custom CSS specific to your content
// To do this, put your styles in the file _sass/custom/custom.scss
// This will allow for all overrides to be kept in a single file, and for any upstream changes to still be applied

// General theme components



// Unique structures 
.callout-toby {
    background-color: #F8F8F0; 
    border-left: 5px solid #66D9EF;
    border-radius: 5px; // rounded edge
    padding: 0.5rem; // left side padding
    margin-top: .4rem; 
    margin-bottom: .4rem; 
  }

// For styles that aren’t defined as SCSS variables, you may want to modify specific CSS classes
// Additionally, you may want to add completely custom CSS specific to your content
// To do this, put your styles in the file _sass/custom/custom.scss
// This will allow for all overrides to be kept in a single file, and for any upstream changes to still be applied

// General theme components

// Unique structures 
.callout-toby {
  background-color: #F8F8F0; 
  border-left: 5px solid #66D9EF;
  border-radius: 5px; // rounded edge
  padding: 0.5rem; // left side padding
  margin-top: .4rem; 
  margin-bottom: .4rem; 
}

// Custom code block styling
// pre code {
// // background-color: #2d2d2d !important; /* Dark background */
// color: #f8f8f2 !important; /* Light text color */
// // border: 1px solid #444 !important; /* Dark border */
// // padding: 10px !important;
// // border-radius: 4px !important;
// font-family: 'Courier New', Courier, monospace !important; /* Monospaced font */
// overflow: auto !important; /* Ensure long code blocks are scrollable */
// }

// /* Syntax highlighting */
// pre code {
// color: #f8f8f2 !important; /* Default text color */
// }

// pre code .keyword {
// color: #66d9ef !important; /* Light blue for keywords */
// }

// pre code .string {
// color: #e6db74 !important; /* Light yellow for strings */
// }

// pre code .comment {
// color: #75715e !important; /* Gray for comments */
// }

// pre code .function {
// color: #a6e22e !important; /* Light green for functions */
// }

// pre code .variable {
// color: #f92672 !important; /* Pink for variables */
// }