// Style recommendations: https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md
@import "latte";

$body-background-color: $white;
$body-heading-color: $subtext1;
$body-text-color: $text;
$link-color: $sapphire;
$nav-child-link-color: $sapphire;
$sidebar-color: $base;
$base-button-color: $white;
$btn-primary-color: $overlay0;
$code-background-color: #f8f8f2;
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $crust;
