// Style recommendations: https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md
@import "mocha";

$body-background-color: $base;
$body-heading-color: $subtext1;
$body-text-color: $text;
$link-color: $sapphire;
$nav-child-link-color: $sapphire;
$sidebar-color: $mantle;
$base-button-color: #f7f7f7;
$btn-primary-color: $overlay0;
$code-background-color: $text;
$table-background-color: $base;
$search-background-color: $base;
$search-result-preview-color: $crust;
